body {
    background-color: #f0eadb;
}

header {
    background-color: #072E4F;
    padding: 20px 0;
}

img {
    width: 10%;
    border-radius: 360px;
}

.caixa {
    width: 1342px;
    margin: 0 auto;
    position: relative;
}

nav {
    position: absolute;
    top: 80px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    font-size: 22px;
    font-weight: bolder;
    color: #F4F1E9;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color:sienna;
    text-decoration: underline;
}

nav a:active {}